@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutAuth";
}

<div class="p-5">
    <h1 class="text-black-50 f-lighter text-center">500</h1>
    <h1 class="text-center f-lighter">Internal Server Error</h1>
</div>
