@{
    ViewData["Title"] = "Forbidden";
    Layout = "_LayoutAuth";
}

<div class="p-5">
    <h1 class="text-black-50 f-lighter text-center">403</h1>
    <h1 class="text-center f-lighter">Forbidden</h1>
</div>
