@{
    ViewData["Title"] = "Not Found";
    Layout = "_LayoutAuth";
}

<div class="p-5">
    <h1 class="text-black-50 f-lighter text-center">404</h1>
    <h1 class="text-center f-lighter">Not Found</h1>
</div>
